<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986930839057-2mk4d7u8un9cki4f2fg431sbk1b4kpjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986930839057-2mk4d7u8un9cki4f2fg431sbk1b4kpjt</string>
	<key>API_KEY</key>
	<string>AIzaSyCj0OVmpL96tU3WQLYJjqgCh6Af2gEoMa0</string>
	<key>GCM_SENDER_ID</key>
	<string>986930839057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adviqo.readerapp</string>
	<key>PROJECT_ID</key>
	<string>reader-app-fortunica</string>
	<key>STORAGE_BUCKET</key>
	<string>reader-app-fortunica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986930839057:ios:931a04b3aeb905de5cbbb0</string>
</dict>
</plist>